@import url("./reset.css");
@import url("./responsive.css");

/*contents*/
.container {
  width: 100%;
  height: 400vh;
  background: #000;
  font-family: "Limelight", sans-serif;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.topbutton {
  position: fixed;
  bottom: 40px;
  right: 18px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
  z-index: 100;
}

.topbutton.show {
  display: block;
}

.circle-menu {
  width: 100%;
  height: 10%;
  position: relative;
}
.circle-menu-wrap {
  width: 400px;
  height: 15%;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 20px;
}

.circle ul {
  display: flex;
}

.circle ul li {
  width: 1.25rem;
  height: 20px;
  border: 2px solid #f81894;
  border-radius: 100%;
  background: #000;
  box-shadow: 0 1px 5px #f81894;
  margin: 0 2.5rem;
  cursor: pointer;
}

.circle-menu ul {
  display: flex;
  position: relative;
}

.circle-name ul li {
  padding: 12px 0 0;
  position: absolute;
}

.circle-name ul li:nth-child(1) {
  left: 32px;
}
.circle-name ul li:nth-child(2) {
  left: 110px;
}
.circle-name ul li:nth-child(3) {
  left: 225px;
}
.circle-name ul li:nth-child(4) {
  left: 315px;
}

/*##header##*/
header {
  position: relative;
  height: 25%;
}

.icon {
  width: 70px;
  height: 250px;
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.icon > i {
  font-size: 40px;
}
.icon > a > i {
  font-size: 50px;
}
.windows {
  border: 3px solid #f81894;
  background: #000;
  width: 400px;
  height: 240px;
  position: absolute;
  top: 50px;
  left: 500px;
  z-index: 100;
  animation: windowmoving infinite 2s;
}

.windows-icons {
  border-bottom: 3px solid #f81894;
  color: #f81894;
  height: 40px;
  text-align: right;
  padding: 10px;
  letter-spacing: 5px;
}

.windows-inner {
  font-size: 20px;
  padding: 10px;
}
@keyframes windowmoving {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.windows2 {
  border: 3px solid #f81894;
  position: absolute;
  top: 200px;
  right: 30px;
  width: 300px;
  height: 330px;
  overflow: hidden;
  background-color: #000;
}

.windows2-inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.windows3 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 120px;
  border: 3px solid #f81894;
  background-color: #000;
}
.windows3-inner {
  width: 100%;
  height: 90%;
  position: relative;
}
.windows3-inner img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.windows4 {
  background-color: #000;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 90px;
  right: 240px;
  border: 3px solid #f81894;
  z-index: 300;
}
.windows4-inner {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.windows4-inner p {
  font-size: 20px;
}

.windows4-inner div {
  position: relative;
  margin-top: 10px;
  border: 2px solid #f81894;
  width: 120px;
  height: 30px;
}

.windows4-inner div span {
  display: block;
  position: absolute;
  left: 2px;
  top: 0;
  width: 0;
  height: 20px;
  background-color: #f81894;
  margin: auto;
  margin-top: 3px;
  animation: loading infinite 3s;
}

@keyframes loading {
  to {
    width: 96%;
  }
}

.windows5 {
  background-color: #000;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 30px;
  left: 140px;
  border: 3px solid #f81894;
}

.windows5-inner {
  width: 100%;
  height: 100%;
}

.windows5-inner > img {
  width: 100%;
  height: 90%;
}
.button {
  cursor: pointer;
}

.bottom {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #f81894;
  border-bottom: 1px solid #f81894;
  display: flex;
  justify-content: space-between;
}

.bottom-left {
  display: flex;
  align-items: center;
}

.bottom-left > i {
  font-size: 35px;
  margin-left: 13px;
}

.search {
  position: relative;
  margin-left: 20px;
}
.search i {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  padding-left: 3px;
}
.search input {
  width: 150px;
  height: 30px;
  padding-left: 25px;
  border-radius: 5px;
  background: whitesmoke;
  border: 1px solid #fff;
  outline: none;
}

.bottom-right {
  display: flex;
  align-items: center;
}
.bottom-right > i {
  font-size: 15px;
  padding: 7px;
  margin-right: 3px;
}

.current {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 5px;
}

/* @keyframes textslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/*##main##*/
main {
  width: 100%;
  height: 25%;
  position: relative;
}

main .circle ul li:nth-child(2) {
  background: #f81894;
  box-shadow: none;
}

.main-contents {
  position: absolute;
  width: 90%;
  height: 75%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 20px;
}

.profile {
  position: absolute;
  width: 40%;
  height: 85%;
  top: 7%;
  border: 3px solid #f81894;
  border-radius: 10px;
}

.profile > img {
  width: 100%;
  height: 100%;
}

.profile-text {
  font-family: "KOTRA_BOLD-Bold";
  width: 50%;
  height: 150px;
  position: absolute;
  top: 7%;
  right: 15px;
  text-align: center;
  font-size: 15px;
}

.profile-text p:nth-child(1) {
  margin-bottom: 30px;
  font-size: 24px;
}
.skills {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 40%;
  right: 10px;
}
.skills-button > ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.skills-button > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #f81894;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  padding: 2px;
  margin: 0 4px;
}

.skills-button > ul > li.active {
  border: 2px solid #fff;
}

.skills-explanation {
  border: 3px solid #f81894;
  border-radius: 10px;
  width: 100%;
  height: 76%;
  margin-top: 38px;
  padding: 10px;
  text-align: center;
}

/*##section##*/
section {
  width: 100%;
  height: 25%;
  position: relative;
}

section .circle ul li:nth-child(3) {
  background: #f81894;
  box-shadow: none;
}

.boxs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box {
  width: 160px;
  height: 170px;
  border: 2px solid #f81894;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  text-align: center;
  line-height: 10;
}
.modal-windows {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 75%;
  height: 85%;
  border: 1px solid #f81894;
  background-color: #000;
  border-radius: 5px;
  /* overflow: auto; */
  overflow-y: scroll;
  /* display: none; */
}
.modal-windwos::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.modal-windows::-webkit-scrollbar-track {
  background: #000 !important;
  border-radius: 10px;
}

.modal-windows > .windows-icons {
  height: 50px;
  padding: 11px;
  font-size: 23px;
}

.modal-content {
  padding: 30px;
  padding-top: 45px;
  position: relative;
}

.modal-title {
  display: flex;
}

.modal-title > p {
  font-size: 60px;
  margin-bottom: 30px;
}

.modal-title > a {
  font-size: 16px;
  margin-top: 28px;
  margin-left: 20px;
  border: 2px solid #f81894;
  width: 42px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
}

.project-skills {
  margin-bottom: 40px;
}
.project-skills > span {
  border: 2px solid #f81894;
  border-radius: 20px;
  padding: 8px;
  margin-right: 4px;
}
.modal-content > img {
  position: absolute;
  border: 1px solid #f00;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
/*##footer##*/
footer {
  width: 100%;
  height: 25%;
  position: relative;
}

footer .circle ul li:nth-child(4) {
  background: #f81894;
  box-shadow: none;
}

.contact-me {
  width: 100%;
  height: calc(100vh - 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 80px;
  color: #fff;
}

.email i {
  margin-top: 5px;
  font-size: 300px;
  color: #f81894;
  transition: all 0.5s;
}

.email i:hover {
  color: #fff;
  text-shadow: 0 0 15px #f81894;
}

.sns-icon {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.sns-icon span a {
  display: block;
  padding: 10px 30px;
  margin: 0 10px;
  font-size: 25px;
  color: #f81894;
  transition: all 0.5s;
}

.sns-icon span a:hover {
  color: #fff;
  text-shadow: 0 0 15px #f81894;
}
