@import url("./reset.css");
@import url("./responsive.css");

/*contents*/
.container {
  width: 100%;
  height: 400vh;
  background: #000;
  font-family: "Limelight", sans-serif;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.topbutton {
  position: fixed;
  bottom: 40px;
  right: 18px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
  z-index: 100;
}

.topbutton.show {
  display: block;
}

.circle-menu {
  width: 100%;
  height: 10%;
  position: relative;
}
.circle-menu-wrap {
  width: 400px;
  height: 15%;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 20px;
}

.circle ul {
  display: flex;
}

.circle ul li {
  width: 1.25rem;
  height: 20px;
  border: 2px solid #f81894;
  border-radius: 100%;
  background: #000;
  box-shadow: 0 1px 5px #f81894;
  margin: 0 2.5rem;
  cursor: pointer;
}

.circle-menu ul {
  display: flex;
  position: relative;
}

.circle-name ul li {
  padding: 12px 0 0;
  position: absolute;
}

.circle-name ul li:nth-child(1) {
  left: 32px;
}
.circle-name ul li:nth-child(2) {
  left: 110px;
}
.circle-name ul li:nth-child(3) {
  left: 225px;
}
.circle-name ul li:nth-child(4) {
  left: 315px;
}

/*##header##*/
header {
  position: relative;
  height: 25%;
}

.window-icon {
  width: 70px;
  height: 250px;
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.window-icon > i {
  font-size: 50px;
  color: #fff;
}
.windows {
  border: 3px solid #f81894;
  background: #000;
  width: 70%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.windows-icons {
  border-bottom: 3px solid #f81894;
  color: #f81894;
  height: 40px;
  text-align: right;
  padding: 10px;
  letter-spacing: 5px;
}

.windows-inner {
  font-size: 35px;
  padding: 35px;
}

.button {
  cursor: pointer;
}

.bottom {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #f81894;
  border-bottom: 1px solid #f81894;
  display: flex;
  justify-content: space-between;
}

.bottom-left > i {
  font-size: 35px;
  padding: 5px;
}
.bottom-right {
  display: flex;
  align-items: center;
}
.bottom-right > i {
  font-size: 15px;
  padding: 7px;
}

.current {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: 5px;
}

/* @keyframes textslide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/*##main##*/
main {
  width: 100%;
  height: 25%;
  position: relative;
}

main .circle ul li:nth-child(2) {
  background: #f81894;
  box-shadow: none;
}

.main-contents {
  position: absolute;
  width: 90%;
  height: 75%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 20px;
}

.profile {
  position: absolute;
  width: 40%;
  height: 85%;
  top: 7%;
  border: 3px solid #f81894;
  border-radius: 10px;
}

.profile > img {
  width: 100%;
  height: 100%;
}

.profile-text {
  font-family: "KOTRA_BOLD-Bold";
  width: 50%;
  height: 150px;
  position: absolute;
  top: 7%;
  right: 15px;
  text-align: center;
  font-size: 15px;
}

.profile-text p:nth-child(1) {
  margin-bottom: 30px;
  font-size: 24px;
}
.skills {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 40%;
  right: 10px;
}
.skills-button > ul {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.skills-button > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #f81894;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  padding: 2px;
  margin: 0 4px;
}

.skills-button > ul > li.active {
  border: 2px solid #fff;
}

.skills-explanation {
  border: 3px solid #f81894;
  border-radius: 10px;
  width: 100%;
  height: 76%;
  margin-top: 38px;
  padding: 10px;
  text-align: center;
}

/*##section##*/
section {
  width: 100%;
  height: 25%;
  position: relative;
}

section .circle ul li:nth-child(3) {
  background: #f81894;
  box-shadow: none;
}

section > .fa-solid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  cursor: pointer;
}
section > .fa-solid:hover {
  color: #f81894;
}
.fa-chevron-left {
  left: 5%;
}
.fa-chevron-right {
  right: 5%;
}
.section-context {
  width: 200%;
  height: 100%;
}
.section-context-main {
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
}
.sectionpart-1 {
  border: 1px solid skyblue;
  width: 50%;
  height: inherit;
}
.sectionpart-2 {
  border: 1px solid skyblue;
  width: 50%;
  height: inherit;
}

/*##footer##*/
footer {
  width: 100%;
  height: 25%;
}

footer .circle ul li:nth-child(4) {
  background: #f81894;
  box-shadow: none;
}

.contact-me {
  width: 100%;
  height: calc(100vh - 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 90px;
  color: #fff;
}

.email i {
  margin-top: 5px;
  font-size: 400px;
  color: #f81894;
  transition: all 0.5s;
}

.email i:hover {
  color: #fff;
  text-shadow: 0 0 15px #f81894;
}

.sns-icon {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.sns-icon span a {
  display: block;
  padding: 10px 30px;
  margin: 0 10px;
  font-size: 25px;
  color: #f81894;
  transition: all 0.5s;
}

.sns-icon span a:hover {
  color: #fff;
  text-shadow: 0 0 15px #f81894;
}
